<header class="cyber-header">
  <h1 class="glitch-effect" data-text="CYBER_JP">CYBER_JP</h1>
  <div class="japanese-text">暗黒ネットワーク</div>
  
  <div class="header-status">
    <span class="data-pulse">CONNECTED</span>
    <span>東京サーバー</span>
    <span>アクセスレベル: <%= rand(1..10) %></span>
  </div>
</header>